h1 {
    text-align: center;
  }

  ul li {
    list-style: none;
  }
/*o center-list faz que comque os li que estão como inline é tratado como texto*/
  .center-list{
    text-align: center;
  }

  /*o first é margin auto porque ele está como block*/
  .first {
    background-color: rgb(235, 200, 84);
    font-size: 20px;
    height: 50px;
    text-align: center;
    width: 200px;
    margin: auto;
  }

  .second {
    background-color: rgb(219, 219, 219);
    font-size: 20px;
    height: 50px;
    text-align: center;
    width: 300px;
    display: inline-block;
  }

  .third {
    background-color: rgb(170, 142, 106);
    font-size: 20px;
    height: 50px;
    text-align: center;
    width: 300px;
    display: inline-block;
  }

