@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto+Mono&family=Ubuntu:wght@300&display=swap');
/*font-family: 'Bebas Neue', cursive;
font-family: 'Roboto Mono', monospace;
font-family: 'Ubuntu', sans-serif;*/


*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Roboto Mono', monospace;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Ubuntu', sans-serif;
}

.heaer a{
    color: white;
}

.header ul li{
    padding: 15px;
    display: inline-block;
}

.header h1{
    font-size: 40px;
    text-align: center;
}

header .nav{
    background-color: rgb(112, 112, 211)
}

.main{
    text-align: center;
    margin: 10px;
    vertical-align: auto;
}

.a  side{
    min-height: 300px;
    text-align: justify;
    display: inline-block;
    background-color: blue;
    width:25%;
}

.content{
    min-height: 300px;
    height: auto;
    text-align: justify;
    background-color: red;
    display:inline-block;
    width: 70%;
}