body{
    font-size: 16px;
}
h1,h2,h3{
    color: rgb(221, 221, 0);
    font-family: 'Play', sans-serif;
}

p{
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    line-height: normal;
    color: rgb(68, 61, 61);
}

.list-style{
    text-align: center;
    line-height: 4.5;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    background-color: rgb(236, 235, 152);
}

.perfil-title{
    line-height: 1pt;
}

.perfil-imagem{
    width: 100px;
    border-radius: 50%;
}
#hero-title{
    font-size: 60pt;
    color: orangered;
}