/*Faça com que todos os itens de Listas Ordenadas tenham uma cor de fundo amarela. Se a numeração do item for PAR, faça a cor de fonte ser verde. Se o número for considerado ÍMPAR, utilize a propriedade text-transform para deixar o texto maiúsculo. (Dica: combinar classes pode ser útil aqui).*/
ol li{
    background-color: yellow;
}

ol li:nth-of-type(2n){
    color: green;
}

ol li:nth-of-type(2n+1){
    text-transform: uppercase;
}

h1, h2, h3, h4, h5, h6{
    color: red;
}

h1 em, h2 em, h3 em, h4 em, h5 em, h6 em{
    font-size: 40px;
    border: 1px solid black;
}